.CCROoverlayui {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 20px;
	border: 2px solid #11122F;
	min-width: 325px;
	font-size: 14px;
	line-height: 26px;
	color: #000;
	font-family: Arial, Helvetica, Sans-Serif;
	background: #fff;
	z-index: 999999999999;
}

.CCROv-button {
	display: block;
	padding: 0 9px;
	min-width: auto;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 11px;
	color: #000;
	cursor: pointer;
	border-radius: 4px;
	background: #ffffff;
}

.CCROv-button:hover {
	text-decoration: none;
	color: #000;
	background: #ccc;
}

.CCROv-button:active {
	text-decoration: none;
	color: #000;
	background: #aaa;
}

.CCROv-button, .CCROv-button i {
	line-height:25px;
}

.CCROoverlayuiscroll {
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 300px;
}

.CCROoverlayuicontent {
	padding: 15px;
}

.CCROv-header {
	overflow: hidden;
	margin: 0;
	padding: 10px;
	background: #11122F;
}

.CCROv-header h2 {
	float:left;
	margin: 0;
	line-height: 25px;
	font-weight: bold;
	font-size: 16px;
	font-family: Arial, Helvetica, Sans-Serif;
	color: #FFF;
}

.CCROoverlayuicontent a {
	text-decoration: underline;
	color: #0084ff;
}

.CCROoverlayuicontent a:hover {
	color: #0067c6;
}

.CCROoverlayuicontent a:active {
	color: #004382;
}

.CCROoverlayuicontent p {
	margin: 0 0 10px 0;
	text-align: left;
	line-height: 20px;
	font-size: 14px;
}

.CCROoverlayuicontent form label {
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
}

.CCROoverlayuicontent form input[type="text"] {
	margin-right: 10px;
}

.CCROoverlayOptions {
	padding:15px;
	color:#FFF;
	background:#11122F;
}

.CCROoverlayuicontent .experimentlist {
	margin: 0;
	padding: 0;
	font-size: 14px;
	border-collapse: collapse;
}

.CCROoverlayuicontent .experimentlist caption {
	margin: 0;
	padding: 10px;
	text-align: left;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	background: #ccc;
}

.CCROoverlayuicontent .experimentlist th,
.CCROoverlayuicontent .experimentlist td {
	padding: 10px;
	border: 1px solid #ccc;
	line-height: 20px;
}

.CCROoverlayuicontent .experimentlist th {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: normal;
	font-size:14px;
	color: #777;
	background-color: transparent;
}

.CCROoverlayuicontent tr.active .experiment-name {
	font-weight: bold;
}

.CCROoverlayuicontent .experiment-name .fa-circle {
	color: #FFEB40;
}

.CCROoverlayuicontent tr.active .experiment-name .fa-circle {
	color: #BDCE62;
}

.CCROoverlayuicontent .experimentlist select {
	margin: 0;
	min-width: auto;
	width: 100px;
	border:1px solid #000;
	padding:5px;
	color:#000;
}

.CCROoverlayuicontent .experimentlist select:disabled {
	border:1px solid #AAA;
	color:#AAA;
}

.CCROoverlayuicontent .CCROoverlayui h3 {
	margin: 0 0 10px 0;
	font-weight: bold;
	font-size: 13px;
}

.CCROv-ui-buttons {
	float: left;
}

.CCROv-ui-buttons .CCROv-button {
	float: left;
	margin: 0 15px 0 0;
	line-height: 21px;
	font-size: 14px;
	font-weight: bold;
}

.CCROoverlayui.collapsed .CCROoverlayuicontent {
	display: none;
}

/* The switch - the box around the slider */
.CCROswitch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
  margin-left:15px;
}

/* Hide default HTML checkbox */
.CCROswitch input {display:none;}

/* The slider */
.CCROslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.CCROslider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .CCROslider {
  background-color: #A530AD;
}

input:focus + .CCROslider {
  box-shadow: 0 0 1px #A530AD;
}

input:checked + .CCROslider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.CCROslider.CCROround {
  border-radius: 18px;
}

.CCROslider.CCROround:before {
  border-radius: 50%;
}

.CCROformRow { overflow:hidden; }

.CCROformRow label, .CCROformRow select { float:left; margin:0 5px 0 0; }